.feature_listlayout_boxed2 {
    padding: 80px 50px;
}
 

.pricing_plan {
max-width: 500px;
}

.comic-line{
        margin-top:40px;
}

p{
    font-size:18px;
}

body {

    font-size: 18px;
  
}




fal {
    line-height: 3 !important;
}