<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{title}} | GetBeSeen</title>
    <meta name="description" content="{{metaDescription}}" />
    <link rel="canonical" href="https://getbeseen.com/{{slug}}.html" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Framework CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/scss/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bez.css">

    <!-- Open Graph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{metaDescription}}">
    <meta property="og:image" content="https://getbeseen.com/{{featuredImage}}">
    <meta property="og:url" content="https://getbeseen.com/{{slug}}.html">
    <meta property="og:type" content="article">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{metaDescription}}">
    <meta name="twitter:image" content="https://getbeseen.com/{{featuredImage}}">
</head>

<body>

    <!-- backtotop - start -->
    <div id="thetop"></div>
    <div id="backtotop">
        <a href="#" id="scroll">
            <i class="far fa-arrow-up"></i>
        </a>
    </div>
    <!-- backtotop - end -->

    {{> header-with-analytics}}

    <!-- sidebar mobile menu - start -->
    <div class="sidebar-menu-wrapper">
        <div class="sidebar_mobile_menu">
            <span class="close_btn"><i class="fal fa-times"></i></span>
            <div class="mobile_menu_list clearfix">
                <ul class="ul_li_block clearfix">
                    {{> mobile-menu}}
                </ul>
            </div>
        </div>				
    
        <div class="overlay"></div>
    </div>
    <!-- sidebar mobile menu - end -->

    <!-- main body - start -->
    <main>

        <!-- breadcrumb_section - start -->
        <section class="breadcrumb_section d-flex align-items-center clearfix" style="background-image: url('/assets/images/blog/fullimage/blog-banner.png'); background-size: cover; background-position: center;">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
                        <h1 class="page_title mb-0">{{title}}</h1>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
                        <ul class="breadcrumb_nav ul_li_right clearfix">
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/blog.html">Blog</a></li>
                            <li>{{shortTitle}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb_section - end -->

        <!-- blog_details_section - start -->
        <section class="blog_details_section sec_ptb_130 bg_gray clearfix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        
                        <!-- Featured Image -->
                        <div class="blog_details_image mb_50">
                            <img src="{{featuredImage}}" alt="{{imageAlt}}" class="img-fluid">
                        </div>

                        <!-- Post Meta -->
                        <div class="blog_details_content">
                            <div class="post_meta mb_30">
                                <span class="post_category bg_default_orange">{{category}}</span>
                                <ul class="post_meta_list ul_li clearfix">
                                    <li><i class="far fa-calendar-alt"></i> {{publishDate}}</li>
                                    <li><i class="far fa-user"></i> {{author}}</li>
                                </ul>
                            </div>

                            <!-- Post Content -->
                            <div class="post_content">
                                {{{content}}}
                            </div>

                            <!-- Tags -->
                            {{#if tags}}
                            <div class="post_tags mt_50 mb_30">
                                <h4>Tags:</h4>
                                <ul class="ul_li clearfix">
                                    {{#each tags}}
                                    <li><a href="{{url}}">{{name}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/if}}

                            <!-- Share Buttons -->
                            <div class="post_share mb_50">
                                <h4>Share this post:</h4>
                                <ul class="social_links ul_li clearfix">
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://getbeseen.com/{{slug}}.html" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/intent/tweet?url=https://getbeseen.com/{{slug}}.html&text={{title}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/sharing/share-offsite/?url=https://getbeseen.com/{{slug}}.html" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>

                            <!-- Related Posts -->
                            {{#if relatedPosts}}
                            <div class="related_posts">
                                <h3 class="section_title mb_30">Related Posts</h3>
                                <div class="row">
                                    {{#each relatedPosts}}
                                    <div class="col-lg-6 col-md-6">
                                        <div class="blog_item">
                                            <a href="{{url}}" class="item_image">
                                                <img src="{{thumbnail}}" alt="{{title}}" class="img-fluid">
                                            </a>
                                            <div class="item_content">
                                                <h4 class="item_title">
                                                    <a href="{{url}}">{{title}}</a>
                                                </h4>
                                                <ul class="post_meta ul_li clearfix">
                                                    <li><i class="far fa-calendar-alt"></i> {{date}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog_details_section - end -->

    </main>
    <!-- main body - end -->

    {{> footer}}

    <!-- fraimwork - jquery include -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- carousel - jquery include -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- animation - jquery include -->
    <script src="assets/js/wow.min.js"></script>

    <!-- nice select - jquery include -->
    <script src="assets/js/nice-select.min.js"></script>

    <!-- magnific popup - jquery include -->
    <script src="assets/js/magnific-popup.min.js"></script>

    <!-- custom - jquery include -->
    <script src="assets/js/custom.js"></script>

</body>
</html>
