<div class="col-lg-9">
    <nav class="main_menu clearfix">
        <ul class="ul_li_right clearfix">
            <li><a href="../index.html">Home</a></li>
            <li class="active">
                <a href="../real-estate-products.html">Products</a>
                <ul class="submenu">
                    <li><a href="business-cards.html">Business Cards</a></li>
                    <li><a href="a-frames.html">A-Frame Signs</a></li>
                    <li><a href="lawn-signs.html">Lawn Signs</a></li>
                    <li><a href="flags.html">Flags</a></li>
                    <li><a href="presentation-folders.html">Presentation Folders</a></li>
                    <li><a href="banners.html">Banners</a></li>
                </ul>
            </li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <li><a href="../cart.html" class="cart_btn"><i class="fas fa-shopping-cart"></i> <span class="cart_counter">0</span></a></li>
        </ul>
    </nav>
</div> 