<div class="sidebar-menu-wrapper">
    <div class="sidebar_mobile_menu">
        <button type="button" class="close_btn"><i class="fal fa-times"></i></button>
        <div class="mobile_menu_list clearfix">
            <ul class="ul_li_block clearfix">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Products</a>
                    <ul class="dropdown-menu">
                        <li><a href="/products/business-cards">Business Cards</a></li>
                        <li><a href="/products/a-frames">A-Frame Signs</a></li>
                        <li><a href="/products/lawn-signs">Lawn Signs</a></li>
                        <li><a href="/products/flags">Flags</a></li>
                        <li><a href="/products/presentation-folders">Presentation Folders</a></li>
                        <li><a href="/products/banners">Banners</a></li> 
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>    
                <li><a href="/cart">Cart (<span class="cart_counter">0</span>)</a></li>   
            </ul>
        </div>

        <div class="contact_info">
            <h3 class="title_text mb_15">Contact Info</h3>
            <ul class="ul_li_block clearfix">
                <li><i class="fas fa-phone-alt mr-2"></i> <a href="tel:+18885551234">1-888-555-1234</a></li>
                <li><i class="fas fa-envelope mr-2"></i> <a href="mailto:info@getbeseen.com">info@getbeseen.com</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>  
</div> 