<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Professional Printing Services - 101+ Products & Services | GetBeSeen</title>
    <meta name="description" content="The most comprehensive printing website with 101+ pages of products and services. Business cards, signs, banners, and complete marketing solutions with transparent pricing." />
    <link rel="canonical" href="https://getbeseen.com/" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Framework CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/scss/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bez.css">

    <!-- Analytics and tracking scripts would go here -->
</head>

<body>

    <!-- backtotop - start -->
    <div id="thetop"></div>
    <div id="backtotop">
        <a href="#" id="scroll">
            <i class="far fa-arrow-up"></i>
        </a>
    </div>
    <!-- backtotop - end -->

    <!-- header_section - start -->
    {{> header}}
    <!-- header_section - end -->

    <!-- main body - start -->
    <main>

        <!-- sidebar mobile menu - start -->
        {{> mobile-menu}}
        <!-- sidebar mobile menu - end -->

        <!-- slider_section - start -->
        <section class="slider_section home_three_slider clearfix">
            <div class="main_slider owl-carousel owl-theme clearfix">

                <div class="item" data-background="assets/images/slider/bg_01.jpg">
                    <div class="container">
                        <div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
                            <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 order-lg-last">
                                <div class="slider_image">
                                    <img src="assets/images/slider/img_01.png" alt="Professional Printing">
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider_content text-white">
                                    <h4 class="small_title">Welcome to GetBeSeen</h4>
                                    <h3 class="item_title text-uppercase text-white mb-0">Professional Printing</h3>
                                    <p>
                                        <strong>101+ Products & Services</strong> all in one place. The most comprehensive printing website with transparent pricing, detailed options, and instant quotes.
                                    </p>
                                    <ul class="btns_group ul_li clearfix">
                                        <li>
                                            <a class="custom_btn bg_default_orange" href="/products.html">
                                                Browse Products 
                                                <span><i class="fal fa-arrow-right"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="custom_btn bg_default_yellow" href="/services.html">
                                                Our Services 
                                                <span><i class="fal fa-arrow-right"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" data-background="assets/images/slider/bg_02.jpg">
                    <div class="container">
                        <div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
                            <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 order-lg-last">
                                <div class="slider_image">
                                    <img src="assets/images/slider/img_02.png" alt="Complete Solutions">
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider_content text-white">
                                    <h4 class="small_title">Complete Solutions</h4>
                                    <h3 class="item_title text-uppercase text-white mb-0">Everything You Need</h3>
                                    <p>
                                        From business cards to massive banners, graphic design to direct mail campaigns. <strong>17 specialized services</strong> organized for easy browsing.
                                    </p>
                                    <ul class="btns_group ul_li clearfix">
                                        <li>
                                            <a class="custom_btn bg_default_orange" href="/contact.html">
                                                Get Quote 
                                                <span><i class="fal fa-arrow-right"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="custom_btn bg_default_yellow" href="/about.html">
                                                Learn More 
                                                <span><i class="fal fa-arrow-right"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- slider_section - end -->

        <!-- feature_section - start -->
        <section class="feature_section bg_gray clearfix">
            <div class="maxw_1780 container">
                <div class="row g-0 justify-content-lg-between">

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
                        <div class="feature_listlayout_boxed2 deco_wrap">
                            <div class="item_icon">
                                <img src="assets/images/feature/icon_01.png" alt="Printing Services">
                            </div>
                            <div class="item_content">
                                <span class="item_type">80+ Products Available</span>
                                <h3 class="item_title">Professional Printing</h3>
                                <p>
                                    Browse our complete catalog of business cards, banners, signs, and promotional materials - all with transparent pricing
                                </p>
                                <a class="text_btn" href="/products.html">
                                    <span>View All Products</span>
                                    <i class="far fa-arrow-right"></i>
                                </a>
                            </div>

                            <div class="deco_image shape_1">
                                <img src="assets/images/feature/shape_01.png" alt="shape">
                            </div>
                            <div class="deco_image shape_2">
                                <img src="assets/images/feature/shape_02.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
                        <div class="feature_listlayout_boxed2 deco_wrap">
                            <div class="item_icon">
                                <img src="assets/images/feature/icon_02.png" alt="Design Services">
                            </div>
                            <div class="item_content">
                                <span class="item_type">17 Specialized Services</span>
                                <h3 class="item_title">Design & Branding</h3>
                                <p>
                                    Professional graphic design, web development, and direct mail services to complete your marketing strategy
                                </p>
                                <a class="text_btn" href="/services.html">
                                    <span>Explore Services</span>
                                    <i class="far fa-arrow-right"></i>
                                </a>
                            </div>

                            <div class="deco_image shape_1">
                                <img src="assets/images/feature/shape_01.png" alt="shape">
                            </div>
                            <div class="deco_image shape_2">
                                <img src="assets/images/feature/shape_02.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
                        <div class="feature_listlayout_boxed2 deco_wrap">
                            <div class="item_icon">
                                <img src="assets/images/feature/icon_03.png" alt="Online Experience">
                            </div>
                            <div class="item_content">
                                <span class="item_type">101+ Page Website</span>
                                <h3 class="item_title">Best Online Experience</h3>
                                <p>
                                    The most comprehensive printing website - find exactly what you need with detailed product info and pricing
                                </p>
                                <a class="text_btn" href="/contact.html">
                                    <span>Get Started</span>
                                    <i class="far fa-arrow-right"></i>
                                </a>
                            </div>

                            <div class="deco_image shape_1">
                                <img src="assets/images/feature/shape_01.png" alt="shape">
                            </div>
                            <div class="deco_image shape_2">
                                <img src="assets/images/feature/shape_02.png" alt="shape">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- feature_section - end -->

        <!-- about_section - start -->
        <section class="about_section sec_ptb_130 clearfix">
            <div class="container">
                <div class="section_title text-center mb_80">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 wow fadeInUp2" data-wow-delay=".1s">
                            <h4 class="small_title">Why Choose GetBeSeen</h4>
                            <h1 class="big_title mb-0">
                                The Most Comprehensive Printing Website You'll Find
                            </h1>
                            <span class="biggest_title">AboutUs</span>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                        <div class="about_image_2 wow fadeInUp2" data-wow-delay=".2s">
                            <img src="assets/images/about/img_05.jpg" alt="About GetBeSeen">
                            <a class="play_btn popup_video bg_white" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                        <div class="about_content">
                            <p class="border_left_orange mb-0 wow fadeInUp2" data-wow-delay=".2s">
                                While other print shops have basic 5-10 page websites, we've built a <strong>101-page comprehensive platform</strong> where you can browse, compare, and order exactly what you need - all with transparent pricing and detailed specifications.
                            </p>

                            <div class="row justify-content-lg-between">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
                                    <div class="feature_primary_2 clearfix">
                                        <div class="item_icon bg_default_yellow">
                                            <i class="fal fa-print"></i>
                                        </div>
                                        <div class="item_content">
                                            <h3 class="item_title">Printing & Press</h3>
                                            <p>
                                                Premium business cards, banners, signs, and promotional materials with multiple options
                                            </p>
                                            <a class="text_btn" href="/products/prints.html"><span>View Products</span> <i class="far fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".4s">
                                    <div class="feature_primary_2 clearfix">
                                        <div class="item_icon bg_default_orange">
                                            <i class="fal fa-laptop-code"></i>
                                        </div>
                                        <div class="item_content">
                                            <h3 class="item_title">Digital Services</h3>
                                            <p>
                                                Web design, SEO, email campaigns, and complete digital marketing solutions
                                            </p>
                                            <a class="text_btn" href="/services/web-design.html"><span>Learn More</span> <i class="far fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
                                    <div class="feature_primary_2 clearfix">
                                        <div class="item_icon bg_default_blue">
                                            <i class="fal fa-palette"></i>
                                        </div>
                                        <div class="item_content">
                                            <h3 class="item_title">Graphic Design</h3>
                                            <p>
                                                Logo design, branding, photo editing, and professional layouts for all your needs
                                            </p>
                                            <a class="text_btn" href="/services/graphic-design.html"><span>Explore Design</span> <i class="far fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".6s">
                                    <div class="feature_primary_2 clearfix">
                                        <div class="item_icon bg_default_pink">
                                            <i class="fal fa-mail-bulk"></i>
                                        </div>
                                        <div class="item_content">
                                            <h3 class="item_title">Direct Mail</h3>
                                            <p>
                                                EDDM, postcards, newsletters, and complete mailing services with list management
                                            </p>
                                            <a class="text_btn" href="/services/mailing.html"><span>Mail Services</span> <i class="far fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cricle_border">
                <img src="assets/images/about/circle_border.png" alt="decoration">
            </div>
        </section>
        <!-- about_section - end -->

        <!-- service_section - start -->
        <section class="service_section sec_ptb_130 bg_gray clearfix">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                        <div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
                            <h4 class="small_title">What We Offer</h4>
                            <h2 class="big_title mb-0">
                                Browse Our Complete Range of Products & Services
                            </h2>
                            <span class="biggest_title">Services</span>
                        </div>
                    </div>
                </div>

                <div class="row mb_80 justify-content-lg-between justify-content-md-center justify-content-sm-center">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".3s">
                        <div class="service_card clearfix">
                            <a class="item_image" href="/services/graphic-design.html">
                                <img src="assets/images/services/graphic-design.png" alt="Graphic Design">
                            </a>
                            <div class="item_content">
                                <span class="item_type">5 Specialized Services</span>
                                <h3 class="item_title mb-0">Graphic Design</h3>
                                <a class="icon_btn" href="/services/graphic-design.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".5s">
                        <div class="service_card clearfix">
                            <a class="item_image" href="/services/web-design.html">
                                <img src="assets/images/services/web-design.png" alt="Web Design">
                            </a>
                            <div class="item_content">
                                <span class="item_type">6 Digital Solutions</span>
                                <h3 class="item_title mb-0">Web Design</h3>
                                <a class="icon_btn" href="/services/web-design.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".7s">
                        <div class="service_card clearfix">
                            <a class="item_image" href="/services/mailing.html">
                                <img src="assets/images/services/mailing.png.png" alt="Mailing Services">
                            </a>
                            <div class="item_content">
                                <span class="item_type">6 Mail Solutions</span>
                                <h3 class="item_title mb-0">Direct Mail</h3>
                                <a class="icon_btn" href="/services/mailing.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- service_section - end -->

        <!-- newsletter_section - start -->
        <section class="newsletter_section clearfix">
            <div class="container">

                <div class="newsletter_boxed bg_default_blue wow fadeInUp2 clearfix" data-wow-delay=".1s">
                    <div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
                        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12 text-white">
                            <div class="section_title">
                                <h4 class="small_title">Stay Updated</h4>
                                <h2 class="big_title mb-0 text-white">
                                    Get News & Special Offers
                                </h2>
                                <span class="biggest_title">Newsletter</span>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12">
                            <div class="newsletter_form">
                                <form action="#">
                                    <div class="form_item mb-0">
                                        <input type="email" name="email" placeholder="Enter Your Email">
                                        <button type="submit" class="icon_btn submit_btn"><i class="fal fa-arrow-right"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- newsletter_section - end -->

        <!-- portfolio_section - start -->
        <section class="portfolio_section sec_ptb_130 clearfix">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                        <div class="section_title text-center mb_50 wow fadeInUp2" data-wow-delay=".1s">
                            <h4 class="small_title">Featured Products</h4>
                            <h2 class="big_title mb-0">
                                Popular Products From Our 80+ Product Catalog
                            </h2>
                            <span class="biggest_title">Products</span>
                        </div>
                    </div>
                </div>

                <div class="portfolio_carousel w_1545 owl-carousel owl-theme wow fadeInUp2" data-wow-delay=".3s">
                    <div class="item">
                        <div class="portfolio_fullimage">
                            <img src="assets/images/printing/business card.jpg" alt="Business Cards">
                            <div class="title_wrap">
                                <h3 class="item_title mb-0">Business Cards</h3>
                                <a class="icon_btn" href="/products/prints/business-cards.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="portfolio_fullimage">
                            <img src="assets/images/printing/banner.jpg" alt="Banners">
                            <div class="title_wrap">
                                <h3 class="item_title mb-0">Vinyl Banners</h3>
                                <a class="icon_btn" href="/products/prints/banners.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="portfolio_fullimage">
                            <img src="assets/images/signs/signs-sandwichboard.webp" alt="Lawn Signs">
                            <div class="title_wrap">
                                <h3 class="item_title mb-0">Lawn Signs</h3>
                                <a class="icon_btn" href="/products/signs/lawn-signs.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="portfolio_fullimage">
                            <img src="assets/images/misc/aframe.png" alt="A-Frame Signs">
                            <div class="title_wrap">
                                <h3 class="item_title mb-0">A-Frame Signs</h3>
                                <a class="icon_btn" href="/products/signs/a-frames.html"><i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- portfolio_section - end -->

        <!-- funfact_section - start -->
        <section class="funfact_section sec_ptb_130 clearfix" data-background="assets/images/backgrounds/bg_01.jpg">
            <div class="container">
                <div class="funfact_wrap">

                    <div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".1s">
                        <div class="content_wrap">
                            <div class="item_icon">
                                <span class="bg_default_orange">
                                    <i class="fal fa-file-alt"></i>
                                </span>
                            </div>
                            <strong class="counte_text" data-from="0" data-to="101">101</strong>
                            <h3 class="item_title">Website Pages</h3>
                        </div>
                    </div>

                    <div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".3s">
                        <div class="content_wrap">
                            <div class="item_icon">
                                <span class="bg_default_lightblue">
                                    <i class="fal fa-shopping-cart"></i>
                                </span>
                            </div>
                            <strong class="counte_text" data-from="0" data-to="80">80</strong>
                            <h3 class="item_title">Products Available</h3>
                        </div>
                    </div>

                    <div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".5s">
                        <div class="content_wrap">
                            <div class="item_icon">
                                <span class="bg_default_yellow">
                                    <i class="fal fa-cogs"></i>
                                </span>
                            </div>
                            <strong class="counte_text" data-from="0" data-to="17">17</strong>
                            <h3 class="item_title">Specialized Services</h3>
                        </div>
                    </div>

                    <div class="funfact_item text-center wow fadeInUp2" data-wow-delay=".7s">
                        <div class="content_wrap">
                            <div class="item_icon">
                                <span class="bg_default_purple">
                                    <i class="fal fa-users"></i>
                                </span>
                            </div>
                            <strong class="counte_text" data-from="0" data-to="100">100</strong>
                            <h3 class="item_title">% Local Service</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- funfact_section - end -->

        <!-- cta_section - start -->
        <section class="cta_section sec_ptb_130 deco_wrap clearfix" data-background="assets/images/backgrounds/bg_02.jpg">
            <div class="container">
                <div class="row align-items-center justify-content-lg-start">
                    <div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
                        <div class="cta_content ml__30 text-white">
                            <div class="section_title mb_30 wow fadeInUp2" data-wow-delay=".1s">
                                <h4 class="small_title">Ready to Get Started?</h4>
                                <h2 class="big_title mb-0 text-white">
                                    Experience the Best Printing Website in the Industry
                                </h2>
                                <span class="biggest_title">Quote</span>
                            </div>
                            <p class="mb_30 border_left_yellow text-white wow fadeInUp2" data-wow-delay=".2s">
                                With 101+ pages of products and services, transparent pricing, and detailed specifications, we make it easy to find exactly what you need. No more "contact us for pricing" - everything is right here at your fingertips.
                            </p>
                            <a class="custom_btn bg_default_yellow wow fadeInUp2" data-wow-delay=".3s" href="/contact.html">
                                Get Your Quote 
                                <span><i class="fal fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="overlay_blue"></div>

            <div class="deco_image hand_image wow fadeInRight" data-wow-delay=".1s">
                <img src="assets/images/cta/shape_02.png" alt="shape">
            </div>
        </section>
        <!-- cta_section - end -->

    </main>
    <!-- main body - end -->

    <!-- footer_section - start -->
    {{> footer}}
    <!-- footer_section - end -->

    <!-- Framework JS -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- Carousel JS -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- Mobile Menu JS -->
    <script src="assets/js/mCustomScrollbar.js"></script>

    <!-- Nice Select JS -->
    <script src="assets/js/nice-select.min.js"></script>

    <!-- Magnific Popup JS -->
    <script src="assets/js/magnific-popup.min.js"></script>

    <!-- Counter JS -->
    <script src="assets/js/countto.js"></script>

    <!-- Animation JS -->
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/wow.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>

</body>
</html>